<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../ldir_core/layout/linebreak/fn.compute_badness.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../ldir_core/layout/linebreak/fn.compute_badness.html">../../../../ldir_core/layout/linebreak/fn.compute_badness.html</a>...</p>
    <script>location.replace("../../../../ldir_core/layout/linebreak/fn.compute_badness.html" + location.search + location.hash);</script>
</body>
</html>